services:
  db:
    image: postgres:13
    environment:
      POSTGRES_DB: jobportal
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      PGSSLMODE: disable
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  web:
    build: .
    entrypoint: /app/entrypoint.sh
    command: gunicorn job.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - DEBUG=False
    depends_on:
      - db
      - redis

  celery_worker:
    build: .
    command: celery -A job worker --loglevel=info
    volumes:
      - .:/app
    env_file:
      - .env
    environment:
      - DEBUG=False
    depends_on:
      - db
      - redis

volumes:
  postgres_data:
  static_volume:
  media_volume:
